%no-textdoration {
	&:hover {
		text-decoration: none;
	}
}
.green {
	color: $secondary;	
}
.mt-5 {
	margin-top: $spacer;
}
.mb-5 {
	margin-bottom: $spacer;
}
.flex-1 {
	flex: 1 0 auto;
}
.flex-0 {
	flex-grow: 0 1 auto;
}
.mb-0 {
	margin-bottom: 0;
}
.mb-1 {
	margin-bottom: .5rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.ml-1 {
	margin-left: 1rem;
}
.ml-2 {
	margin-left: 2rem;
}
.mr-1 {
	margin-right: $spacer / 4;
}

