%section-margin {
	margin-bottom: 5rem;
	@include lg-up {
		margin-bottom: 10rem;
	}
}
img {
	max-width: 100%;
	height: auto;	
}
figure {
	margin: 0;
}

%flex-center {
	justify-content: center;
	align-items: center;
}

%menuFx {
	position: relative;
	&:before {
		content: '';
		height: 3px;
		background-color: $primary;
		width: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: width .2s ease;
	}
	&:hover:after {
		width: 100%;
	}
	&.active {
		&:after {
			width: 100%;
		}
	}
}
%link-arrow {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	&:before {
		content: '\e847';
		margin-left: -25px;
		font-family: econsult-icons;
		width: 25px;
		float: left;
		color: $secondary;
		transition: transform .2s ease;
		display: inline-block;
	}
}
%list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.padding {
	@include lg-up {
		padding: 0 40px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $headings-font-family;
	font-weight: 600;
	line-height: 1.1;
	color: $primary;
	margin-top: 1em;
	margin-bottom: .5em;

}
h1 {
	
	font-size: $font-6;
	@include xs-down {
		font-size: $font-5;
	}
	@include md-up {
		font-size: $font-7;
	}
	@include md-up {
		font-size: $font-8;
	}
}

h2 {
	font-size: $font-5;
	@include md-up {
		font-size: $font-6;	
	}
}

h3 {
	font-size: $font-5;
}


.container {
	width: 100%;
	margin: 0 auto;
	padding-left: 2rem;
	padding-right: 2rem;
	@include lg-up {
		max-width: 1000px;
	}
	@include xl-up {
		max-width: 1260px;	
	}
	
}

.black {
	color: #000;
}
@include md-up {
	.hidden-md-up {
		display: none;
	}
}

@include lg-up {
	.hidden-lg-up {
		display: none;
	}
}

.contact {
	display: flex;
	flex-wrap: wrap;

	&__mobile {
		background-color: $primary;
		display: flex;
		@extend %flex-center;
		height: 60px;
		color: #fff;
		margin: 0 -2rem;
		font-weight: 600;
		@include md-up {
			margin: 0;
		}
		a {
			color: #fff;
		}

	}


	&__col {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 100%;

		@include md-up {
			flex: 0 0 50%;
		}
	}
}


.hero {
	&__figure--small {
		height: $menu-height;
		width: 100%;
		@include md-up {
			height: $menu-height-md;
		}
	}
	&__image--small {
		filter: brightness(110%) opacity(20%);
	}
}

.hero__figure {
	margin: 0 -2rem;
	position: relative;
	@include md-up {
		margin: 0;
	}
	&--gradient {
		&:after {
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
			height: 80px;
			content: '';
			display: block;
			background-image: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,0));
			z-index: 10;
		}
	}
}

.section {
	@extend %section-margin;
	&--padding {
		padding: 4rem 0;
	}
}
.section--gray {
	background-image: linear-gradient(-45deg, lighten(#f5f5f5, 5%), #f5f5f5);
	margin-top: 4rem;
}
.section--blue {
	background-image: linear-gradient(-45deg, lighten($primary-bg, 10%), $primary-bg);
}

.section-illu {
	justify-content: center;
	@extend %section-margin;
	.container {
		display: flex;
		flex-direction: column;
		@include md-up {
			flex-direction: row;
		}
	}
	&__col {
		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		&--left {
			padding: 50px;
		}	
	}
	&__header {
		font-size: 25px;
		text-align: center;
		font-weight: 600;
		@include md-up {
			font-size: 40px;

		}
	}
	&__image {
		@include xs-down {
			max-width: 50%;
		}
	}
}



.section-header {
	font-family: $headings-font-family;
	font-size: $font-8;
	margin: 0 0 2rem;
	font-weight: 600;
	color: $secondary;
}



.list--arrow {
	@extend %list;
	.list__item {
		margin-bottom: 10px;
	}
	.list__link {
		@extend %link-arrow;
		
		&:hover {
			
			&:before {
				transform: translateX(4px);
			}

		}
	}
}

.list--module {
	@extend %list;
	margin-bottom: 30px;
	& > li {
		margin-bottom: 10px;
		&.current-menu-item {
			& > a {
				color: $body-color;
				&:before {
					color: $secondary;
					width: 26px;
				}
			}
		}
		& > a {
			@extend %link-arrow;
			padding: 0;
			display: block;
			&:before {
				width: 0;
				color: transparent;
				margin: 0;
				transition: width .3s ease, color .3s ease;
			}
			&:hover {
				color: $body-color;
				text-decoration: none;
				&:before {
					color: $secondary;
					width: 26px;
				}
			}
		}
	}
}

.module {
	.menu {
		@extend %list;
		flex-direction: column;
		margin-bottom: 30px;
		& > li {
			margin-bottom: 10px;
			display: block;
			&.current-menu-item {
				& > a {
					color: $body-color;
					&:before {
						color: $secondary;
						width: 26px;
					}
				}
			}
			& > a {
				@extend %link-arrow;
				padding: 0;
				display: block;
				&:before {
					width: 0;
					color: transparent;
					margin: 0;
					transition: width .3s ease, color .3s ease;
				}
				&:hover {
					color: $body-color;
					text-decoration: none;
					&:before {
						color: $secondary;
						width: 26px;
					}
				}
			}
		}
	}
}

%cf7 {
	border: 0;
	margin: 0;
	padding: 15px;
	text-align: center;
	color: rgba(0,0,0,.7);
}
div.wpcf7-mail-sent-ok {
	@extend %cf7;
	background-color: #ccdb96;

}
div.wpcf7-validation-errors {
	@extend %cf7;
	background-color: #eb9b9a;
}

.wpcf7-not-valid {
	border: 1px solid #cd0403;
}
span.wpcf7-not-valid-tip {
	font-size: 12px;
	color: #cd0403;
}

.wpcf7-textarea {
	height: 8rem;
}

.pagination {
	justify-content: space-between;
	@extend .mt-5;
}

.grecaptcha-badge {
	display: none !important;
}

.person-grid {
	display: flex;
	margin: 0 -1rem;
	flex-wrap: wrap;
	@include xs-down {
		margin: 0 -.5rem;
	}
	@include md-up {
		margin: 0 -2rem;
	}
}
.person {
	flex: 0 0 50%;
	padding: 0 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	@include xs-down {
		padding: 0 .5rem;
	}
	@include md-up {
		flex: 0 0 33.333333%;
		padding: 0 1rem;
	}
	@include lg-up {
		flex: 0 0 25%;
		padding: 0 2rem;
	}
	&__figure {
		margin: 0 0 1rem;
	}
	&__name {
		font-size: $font-3;
		margin: 0 0 .25rem;
	}
	&__jobtitle {
		font-size: $font-2;
		margin: 0;
	}
}

.page-header {
	margin-top: 3rem;
}