:root {
	--deck-padding: 3rem 0;
	--color-2: #{$primary};
	--color-1: #fff;
	--column-max-width: 80px;
	--grid-gap: 0;
	--transition-timing: .15s;
	--transition-type: ease;
	--headerHeight: 4rem;
	--grid-gap: 0 1rem;

	@include md-up {
		--grid-gap: 2rem 1rem;
		--headerHeight: 5rem;
		--deck-padding: 4rem 0;
	}
	@include lg-up {
		--grid-gap: 2rem;
		--deck-padding: 5rem 0;
	}
	.dark {
		--headerHeight: 5rem;
		
		&.template-frontpage {
			--color-1: #{$primary};
			--color-2: #fff;
		}
		
		@include md-up {
			--headerHeight: 7rem;
		}
	}
}


.breadcrumbs {
	margin: 0 0 1rem;
	font-size: $font-3;
	a {
		margin: 0 .5rem;
		&:first-child {
			margin-left: 0;
		}

	}
	.breadcrumb_last {
		margin-left: .5rem;
	}
}

%grid {
	display: grid;
	grid-template: auto/[full-start] 1rem [main-start] 1fr [main-end] 1rem [full-end];
	gap: var(--grid-gap);
	@include md-up {
		grid-template: auto/[full-start] minmax(1rem,1fr) [main-start] repeat(12,[col-start] minmax(10px,var(--column-max-width))) [main-end] minmax(1rem,1fr) [full-end];
	}
}

%hero-grid {
	grid-column: main-start / main-end;
	@include md-up {
		grid-column: col-start 2 / span 10;
	}
	@include lg-up {
		grid-column: col-start 3 / span 7;
	}
}
%spacing {
	@include lg-up {
		margin-right: 20%;
	}
}


.grid--1col {
	@extend %grid;
	.grid__item {
		grid-column: main-start / main-end;
	}
}

.grid--2col {
	--grid-gap: 2rem 1rem;
	@extend %grid;
	@include md-up {
		--grid-gap: 2rem;
	}
	.grid__item {
		grid-column: main-start / main-end;
		@include md-up {
			grid-column: span 6;
			&:first-of-type {
				grid-column: col-start 1 / span 6;
			}
		}
	}
}

.grid--3col {
	@include sm-down {
		--grid-gap: 2rem 1rem;
	}
	@extend %grid;
	.grid__item {
		grid-column: main-start / main-end;
		@include md-up {
			grid-column: span 4;
			&:nth-child(3n + 1) {
				grid-column: col-start 1 / span 4;
			}
		}
	}
}

.grid--4col {
	@include sm-down {
		--grid-gap: 2rem 1rem;
	}
	@extend %grid;
	.grid__item {
		grid-column: main-start / main-end;
		@include md-up {
			grid-column: span 3;
			&:nth-child(4n + 1) {
				grid-column: col-start 1 / span 3;
			}
		}
	}
}


.grid--75col {
	--grid-gap: 2rem 1rem;
	@extend %grid;
	@include md-up {
		--grid-gap: 2rem;
	}
	.grid__item {
		grid-column: main-start / main-end;
		@include md-up {
			&:nth-child(1) {
				grid-column: col-start 1 / span 7;
			}
			&:nth-child(2) {
				grid-column: span 5;
			}
		}
	}
}



%section-margin {
	margin-bottom: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	@include lg-up {
		margin-bottom: 5rem;
	}
}
img {
	max-width: 100%;
	height: auto;
}
figure {
	margin: 0;
}

%flex-center {
	justify-content: center;
	align-items: center;
}

%menuFx {
	position: relative;
	&:before {
		content: '';
		height: 3px;
		background-color: $primary;
		width: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: width .2s ease;
	}
	&:hover:after {
		width: 100%;
	}
	&.active {
		&:after {
			width: 100%;
		}
	}
}
%link-arrow {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	&:before {
		content: '\e847';
		margin-left: -25px;
		font-family: econsult-icons;
		width: 25px;
		float: left;
		color: $secondary;
		transition: transform .2s ease;
		display: inline-block;
	}
}
%list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.padding {
	@include lg-up {
		padding: 0 40px;
	}
}



.page-title {
	@extend %header-xl;
}

.container {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;

	@include xl-up {
		max-width: 1260px;
	}

}

.black {
	color: #000;
}
@include md-up {
	.hidden-md-up {
		display: none;
	}
}

@include lg-up {
	.hidden-lg-up {
		display: none;
	}
}

.contact {
	display: flex;
	flex-wrap: wrap;

	&__mobile {
		display: flex;
		font-size: $font-2;

		color: $primary;
		font-weight: 500;
		@include md-up {
			margin: 0;
		}
		a {
			color: $primary;
		}
	}


	&__col {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 100%;

		@include md-up {
			flex: 0 0 50%;
		}
	}
}



.sidebar__contact {
	@extend %grid;
	& > .textwidget {
		grid-column: main-start / main-end;
	}
}


.section-illu {
	background: $secondary;
	justify-content: center;
	padding: 5rem 0;
	@include md-up {
		padding: 10rem 0;
	}
	@extend %section-margin;
	.container {
		display: flex;
		flex-direction: column;
		@include md-up {
			flex-direction: row;
		}

	}
	&__col {
		flex: 0 0 100%;
	}
	&__title {
		color: #fff;
		margin-bottom: 1rem;
	}
	&__header {
		font-size: $font-8;
		font-weight: 500;
		margin: 0;
		@include md-up {
			font-size: $font-9;
		}
		@include lg-up {
			font-size: $font-10;
		}
	}
	&__image {
		@include xs-down {
			max-width: 50%;
		}
	}
}

.list--arrow {
	@extend %list;
	.list__item {
		margin-bottom: 10px;
	}
	.list__link {
		@extend %link-arrow;

		&:hover {

			&:before {
				transform: translateX(4px);
			}

		}
	}
}

.list--module {
	@extend %list;
	margin-bottom: 30px;
	& > li {
		margin-bottom: 10px;
		&.current-menu-item {
			& > a {
				color: $body-color;
				&:before {
					color: $secondary;
					width: 26px;
				}
			}
		}
		& > a {
			@extend %link-arrow;
			padding: 0;
			display: block;
			&:before {
				width: 0;
				color: transparent;
				margin: 0;
				transition: width .3s ease, color .3s ease;
			}
			&:hover {
				color: $body-color;
				text-decoration: none;
				&:before {
					color: $secondary;
					width: 26px;
				}
			}
		}
	}
}

.module {
	.menu {
		@extend %list;
		flex-direction: column;
		margin-bottom: 30px;
		& > li {
			margin-bottom: 10px;
			display: block;
			&.current-menu-item {
				& > a {
					color: $body-color;
					&:before {
						color: $secondary;
						width: 26px;
					}
				}
			}
			& > a {
				@extend %link-arrow;
				padding: 0;
				display: block;
				&:before {
					width: 0;
					color: transparent;
					margin: 0;
					transition: width .3s ease, color .3s ease;
				}
				&:hover {
					color: $body-color;
					text-decoration: none;
					&:before {
						color: $secondary;
						width: 26px;
					}
				}
			}
		}
	}
}

%cf7 {
	border: 0;
	margin: 0;
	padding: 15px;
	text-align: center;
	color: rgba(0,0,0,.7);
}
.wpcf7-response-output {
	color: #fff;
}
div.wpcf7-mail-sent-ok {
	@extend %cf7;
	background-color: #ccdb96;

}
div.wpcf7-validation-errors {
	@extend %cf7;
	background-color: #eb9b9a;
}

.wpcf7-not-valid {
	border: 1px solid #cd0403;
}
span.wpcf7-not-valid-tip {
	font-size: 12px;
	color: #cd0403;
}

.wpcf7-textarea {
	height: 8rem;
}

.pagination {
	justify-content: space-between;
	@extend .mt-5;
}

.grecaptcha-badge {
	display: none !important;
}




.page-header {
	margin-top: 3rem;
}


.two-cols {
	display: grid;
	grid-gap: 0 1rem;
	@include md-up {
		grid-template: auto / 1fr 1fr;
	}
}

.page-grid {
	@extend %grid;
}


.page-content {
	@extend %section-margin;
	grid-column: main-start 1 / span 1;
	@include md-up {
		grid-column: col-start 3 / span 7;
	}
	ul {
		padding-left: 1.5em;
		li {
			margin-bottom: 1.5em;
		}
	}
}

.article {
	&__header {
		grid-column: main-start / main-end;
		@include md-up {
			grid-column: col-start 2 / span 10;
		}
		@include lg-up {
			grid-column: col-start 3 / span 8;
		}
		margin-top: 4rem;

	}
	&__title {
		--header-margin: 2rem 0;
		@extend %header-xl;

	}
	&__summary {
		@extend %page-summary;
		max-width: 750px;
	}
}

.photo-credit {
	font-size: $font-2;
	opacity: .5;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.list-bullets {
	&__item {
		padding-left: 2.5rem;
		position: relative;
		&:before {
			content: '\e801';
			color: $secondary;
			font-family: econsult-icons;
			font-size: $font-6;
			float: left;
			margin-left: -2.5rem;
			margin-top: -.5rem;
		}
	}
	&__header {
		--header-color: #{$primary};
		@extend %header-sm;
		margin: 2rem 0 .5rem;
	}
	p {
		--font-color: #{$gray-600};
		@extend %font-md;
	}
}

