
.cases-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;
	&__item {
		flex: 0 0 50%;
		padding: 0 1rem;
	}
	@include md-up {
		&__item {
			flex: 0 0 25%;
			padding: 0 1rem;
		}
	}
}


.case {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	overflow: hidden;
	height: 100%;
	margin-bottom: 20px;
	&__summary {
		font-size: $font-5;
		margin-bottom: 2rem;
		font-weight: 400;
		@include lg-up {
			font-size: $font-6;
		}
	}
	&__link {
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}
	&__figure {
		flex: 0 0 100%;

	}
	&__body {
		flex: 2 0 100%;
		padding: 0 0 20px;
		display: flex;
		flex-direction: column;
	}
	&__icon {
		display: none;
	}
	&__content {
		font-size: $font-3;
		font-weight: 600;
	}




}
.cases__content {
	grid-column: col-start 5 / span 8;
	margin-bottom: 2rem;
	&--wide {
		grid-column: col-start 1 / span 12;
	}
}
