
.cases-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;
	&__item {
		flex: 0 0 50%;
		padding: 0 1rem;
	}
	@include md-up {
		&__item {
			flex: 0 0 25%;
			padding: 0 1rem;
		}
	}
}


.case {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	overflow: hidden;
	height: 100%;
	margin-bottom: 20px;
	&__summary {
		@extend %page-summary;
	}
	&__link {
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}
	&__figure {
		flex: 0 0 100%;

	}
	&__body {
		flex: 2 0 100%;
		padding: 0 0 20px;
		display: flex;
		flex-direction: column;
	}
	&__icon {
		display: none;
	}
	&__content {
		font-size: $font-3;
		font-weight: 600;
	}

}


.cases {
	&__content {
		@extend %hero-grid;
		margin-bottom: 2rem;
		
		&--wide {
			grid-column: main-start 1 / span 1;
			margin-bottom: 2rem;
			@include md-up {
				grid-column: col-start 1 / span 12;
			}
		}
		&--2col {
			grid-column: main-start / span 1;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 2rem;
			@include md-up {
				grid-column: col-start 1 / span 7;
			}
			& + & {
				@include md-up {
					grid-column: col-start 8 / span 5;
				}
			}
		}
	}
	&__fact {
		background-color: $sand;
		margin-bottom: 2rem;
		grid-column: main-start 1 / span 1;
		@include md-up {
			grid-column: col-start 2 / span 10;
		}
		@include lg-up {
			grid-column: col-start 3 / span 8;
		}

		.grid__item {
			@extend %spacing;
			padding: 1rem;
			@include md-up {
				padding: 2rem 2rem;
			}
			h3 {
				margin: 0 0 1em;
				font-size: $font-5;
			}
			p {
				font-size: $font-4;
			}

		}
	}
}



.cases-flow {
	@extend %grid;
	@extend .grid--3col;
}