.section--footer {
	background-color: #333;
	padding: 4rem 0 2rem;
	color: rgba(white, .8);
}

.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	p {
		font-size: $font-4;
	}
	a {
		color: #fff;
	}

	@include md-up {
		flex-direction: row;
	}
	&__col {
		flex: 0 0 100%;
		margin-bottom: 3rem;
		padding: 0 2rem;
		@include md-up {
			flex: 0 0 50%;
		}
		@include lg-up {
			flex: 0 0 25%;
		}
	}

	&__wide {
		flex: 0 0 100%;
		padding: $spacer / 2 0 0;
		text-align: center;

		p {
			color: #666;
			font-size: $font-1;
		}
		a {
			color: #777;
			&:hover {
				color: #999;
			}
		}
	}
	&__content {
		.menu {
			display: block;
			padding: 0;
			opacity: 1;
			background: transparent;
			& > li {
				margin-bottom: 10px;
				& > a {
					@extend %link-arrow;
					text-decoration: none;
					&:hover {
						&:before {
							transform: translateX(4px);
						}
					}
				}
			}
		}
	}

	&__header {
		color: $secondary;
		font-size: $font-5;
		margin-bottom: 2rem;
		font-weight: 600;
		margin-top: 0;

	}

	&__logo {
		height: 22px !important;
		width: auto !important;
		margin-bottom: 2rem;
	}
}
