
.header {
	max-width: 1280px;
	width: 100%;
	padding: 0 5%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $headings-font-family;

	&--frontpage {
		position: absolute;
		top: 0;
		z-index: 3;
		padding: 20px 2rem;
		left: 50%;
		transform: translateX(-50%);
	}

	@include lg-up {
		height: 100px;
		align-items: center;
		justify-content: space-between;
	}
	&__col--svg {
		width: 160px;
		@include md-up {
			width: 200px;
		}
	}
	&__col--logo {
		display: flex;
		align-items: center;
		flex: 1 0 auto;

		@include lg-up {
			flex: 0 0 220px;
		}
	}

	&__col--menu {
		flex: 0 0 auto;
		justify-content: flex-end;
		align-content: center;
	}
}
