

.header {
	margin: 0;
	padding: 0;
	font-family: $headings-font-family;
	flex-wrap: wrap;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	height: var(--headerHeight, 6rem);
	background: $primary;
	transition: all var(--transition-timing) var(--transition-type);
	transform-origin: top center;
	@extend %grid;

	&__col--svg {
		width: 160px;
		transform: scale(.8);
		transition: transform .2s ease;
		transform-origin: left center;
		.dark & {
			transform: scale(1);
		}
		@include lg-up {
			width: 200px;
			transform: scale(.8);
			.dark & {
				transform: scale(1);
			}
		}
	}
	&__col--logo {
		display: flex;
		grid-column: main-start 1 / span 1;
		position: relative;
		width: 100%;
		align-items: center;
		z-index: 15;

		@include lg-up {
			grid-column: col-start 1 / span 4;
		}
		a {
			display: inline-flex;
			align-items: center;
			color: #fff;
			transition: color .2s ease;
		}
	}

	&__col--menu {
		
		@include sm-down {
			z-index: 5;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			transition: all .2s ease;
			background: $primary;
			.show-menu & {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}

		@include md-up {
			height: 100%;
			grid-column: col-start 5 / span 8;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	&__col--hamburger {
		z-index: 15;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		@include md-up {
			display: none;
		}
	}
	&__col--contact {
		flex: 1 0 100%;
		display: none;
	}
}

.contact__mobile {
	@include lg-up {
		display: none;
	}
}

.menu-topmenu-container {
	display: flex;
	align-items: center;
	background: $primary;
	@include sm-down {
		flex-direction: column;
		padding: 1rem 2rem 10rem;
		position: absolute;
		top: 5rem;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
