.page-hero {
	grid-column: col-start 1 / span 12;
	margin-bottom: 2rem;
	&__figure {
		position: relative;
		height: 0;
		padding-top: 56.25%;
	}
	&__image {
		@extend %pos-a;
		object-fit: cover;
	}
}


.article__content {
	@extend %grid;
}

.cases__header {
	grid-column: col-start 5 / span 7;
}


