.page {
	&__header {
		background-color: $primary;
		padding: 2rem 0;
		margin-bottom: 2rem;
	}
	&__title {
		font-size: $font-8;
		color: #fff;
		font-weight: 500;
		margin: 0;
	}

	&__content {
		display: grid;
		grid-gap: 2rem;
		grid-template: auto / 1fr;
		@include md-up {
			grid-template: auto / 6fr 4fr;
		}
	}
}
