.page-hero {
	grid-column: main-start 1 / span 1;
	@include md-up {
		grid-column: col-start 1 / span 12;
	}
	margin-bottom: 2rem;
	&__figure {
		position: relative;
		height: 0;
		padding-top: 56.25%;
	}
	&__image {
		@extend %pos-a;
		object-fit: cover;
	}
}


.article__content {
	@extend %grid;
	margin-bottom: 6rem;
}




