.post-teaser {
	display: flex;
	padding: 2rem;
	box-shadow: 0 5px 30px rgba(black, .1);
	margin-bottom: 2rem;

	&__figure {
		display: flex;
		flex: 0 0 33.333333%;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 2rem;
	}
}
.single-article {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2rem;
	flex-direction: row;
	&__left,
	&__right {
		flex: 0 0 100%;
		padding: 0 2rem;
		a {
			color: $primary;
		}
	}
	@include lg-up {
		&__left {
			flex: 0 0 auto;
			max-width: calc(100% - 33%);
			order: 2;
		}
		&__right {
			flex: 0 0 33%;
			padding-top: 2rem;
		}
	}
}



.posts-navigation {
	margin-bottom: 2rem;
}

.nav-links a {
	@extend .button;
	@extend .button--primary;

}
.pagination {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4rem;
}

.entry-content {
	margin-bottom: 4rem;
	a {
		text-decoration: underline;
	}
	p:first-child > strong {
		font-size: $font-5;
		font-weight: 400;
	}
}

