.post-teaser {
	display: flex;
	padding: 2rem;
	box-shadow: 0 5px 30px rgba(black, .1);
	margin-bottom: 2rem;

	&__figure {
		display: flex;
		flex: 0 0 33.333333%;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 2rem;
	}
}
.single-article {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2rem;
	flex-direction: row;
	&__left, 
	&__right {
		flex: 0 0 100%;
		padding: 0 2rem;
	}
	@include md-up {
		&__left {
			flex: 0 0 75%;
			max-width: 75%;
			order: 2;
		}
		&__right {
			flex: 0 0 25%;
			max-width: 25%;
			min-width: 300px;
			padding-top: 2rem;
		}	
	}
}

.cases-gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -.5rem;
	margin-right: -.5rem;
	&__title {
		flex: 1 0 100%;
		padding: 0 .5rem;
	}
	&__item {
		flex: 0 0 33.33333%;
		padding: 0 .5rem;
		max-width: 33.333333%;
		margin-bottom: 1rem;
		@include md-up {
			flex: 0 0 25%;
			padding: 0 .5rem;
			max-width: 25%;
		}
	}
}

.posts-navigation {
	margin-bottom: 2rem;
}

.nav-links a {
	@extend .button;
	@extend .button--primary;

}
.pagination {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4rem;
}


.entry-content p:first-child > strong {
	font-size: $font-5;
	font-weight: 400;
}

