.sidebar {
	&__widget {
		.textwidget {
			font-size: $font-2;
		}
		.menu-item {
			margin-bottom: .5rem;
		}
	}
	&__header {
		display: none;
	}
	&__contact {
		grid-column: main-start / span 1;
		@include md-up {
			grid-column: col-start / span 12;
		}
	}
}

.page__sidebar {
	ul {
		display: flex;
		flex-direction: column;
	}
	li {
		@extend %link-arrow;
	}
}
.menu {
	li {
		font-size: $font-4;
		font-weight: normal;
	}
}


.widget_nav_menu {
	font-family: $headings-font-family;
	font-weight: 600;
}



.contact-form {
	display: grid;
	grid-gap: 1rem 2rem;
	grid-template: auto / 1fr;
	@include lg-up {
		grid-template: auto / 1fr 1fr;
	}
}
.form-group {
	&:last-child {
		margin-bottom: 0;
	}
}
.wpcf7-textarea {
	max-height: 150px;
	height: 100%;
}

.fw {
	grid-column: 1 / -1;
	display: flex;
}
