.teaser {
	&__link {
		color: #000;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	&__header {
		color: $primary;
		font-size: $font-5;
		font-weight: 600;

		&--h1 {
			font-size: $font-6;
		}
	}

	p {
		color: $body-color;
		font-size: $font-4;
	}
	&__figure {
		margin-bottom: 20px;
	}
}
@include md-up {
	.teaser-overlay {
		.teaser {
			&__link {
				display: flex;
				align-items: center;
			}
			&__figure {
				flex: 0 0 62.5%;
			}
			&__body {
				margin-left: -40px;
				background-color: #fff;
				padding: 20px;
				flex: auto;
			}
		}
	}
}

.teaser + .teaser {
	margin-top: 4rem;
}

.section-bullets {
	margin-left: auto;
	margin-right: auto;
	@extend %section-margin;
	display: flex;
	flex-wrap: wrap;
	@include md-up {
		flex-wrap: nowrap;
	}
	&__illu {
		display: none;
		@include lg-up {
			flex: 0 0 30%;
			display: block;
		}
	}

	&__col {
		flex: 0 0 100%;
		display: flex;
		align-items: flex-start;
		@include md-up {
			flex: 0 0 50%;
		}
		@include lg-up {
			flex: 0 0 35%;
			align-items: center;
		}
		&--left {
			justify-content: flex-end;
		}
	}
}

.list-bullets {
	margin: 0 0 25px;
	list-style: none;
	padding: 0;
	&__item {
		color: $gray-700;
		margin: 0;
		margin: 0 0 25px;
		padding-left: 40px;

		@include md-up {
			&:not(:last-child) {
				margin: 0 0 25px;
			}
		}
		@include lg-up {
			.list-bullets--left & {
				padding-left: 0;
				padding-right: 40px;
				text-align: right;
				&:before {
					float: right;
					margin-left: auto;
					margin-right: -40px;
				}
			}
		}

		&:before {
			content: '\e801';
			color: $secondary;
			font-family: econsult-icons;
			font-size: $font-6;
			float: left;
			margin-left: -40px;
		}

	}

	&__header {
		font-weight: 600;
		font-size: $font-5;
		color: $primary;
		margin: 0;
	}
	p {
		margin: 0;
	}
}

.teaser-flow {
	display: flex;
	margin: 0 -1rem;
	flex-wrap: wrap;
	.grid__item {
		flex: 0 0 100%;
		display: flex;
		padding: 1rem;
		@include md-up {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@include lg-up {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}
	}
}

.teaser-card {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	height: 100%;
	box-shadow: 0 0 30px rgba(black, .1);
	position: relative;
	&:hover {
		.teaser-card__readmore:after {
			transform: translateX(5px);
		}
	}
	&__overlaylink {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

	}
	&__figure {
		flex: 0 0 25%;
	}
	&__body {
		padding: 1rem 2rem;
		flex: 1 0 75%;
		display: flex;
		flex-direction: column;
	}
	&__readmore {
		font-weight: 600;
		font-family: $headings-font-family;
		font-size: $font-2;
		&:after {
			display: inline-block;
			height: 11px;
			margin-left: 8px;
			transition: transform .3s ease-in-out;
			width: 17px;
			background: url(../images/arrow.svg) no-repeat;
			content: '';
		}
		&:hover {
			text-decoration: none;
			&:after {
				transform: translateX(4px);
			}
		}
	}
	&__arrow {
		height: 15px;
		width: 23.5px;
	}
}
