.teaser {
	&__link {
		color: #000;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	&__header {
		color: $primary;
		font-size: $font-5;
		font-weight: 500;

		&--h1 {
			font-size: $font-6;
		}
	}

	p {
		color: $body-color;
		font-size: $font-4;
	}
	&__figure {
		margin-bottom: 20px;
	}
}
@include md-up {
	.teaser-overlay {
		.teaser {
			&__link {
				display: flex;
				align-items: center;
			}
			&__figure {
				flex: 0 0 62.5%;
			}
			&__body {
				margin-left: -40px;
				background-color: #fff;
				padding: 20px;
				flex: auto;
			}
		}
	}
}

.teaser + .teaser {
	margin-top: 4rem;
}

.section-bullets {
	margin-left: auto;
	margin-right: auto;
	@extend %section-margin;
	display: flex;
	flex-wrap: wrap;
	@include md-up {
		flex-wrap: nowrap;
	}
	&__illu {
		display: none;
		@include lg-up {
			flex: 0 0 30%;
			display: block;
		}
	}

	&__col {
		flex: 0 0 100%;
		display: flex;
		align-items: flex-start;
		@include md-up {
			flex: 0 0 50%;
		}
		@include lg-up {
			flex: 0 0 35%;
			align-items: center;
		}
		&--left {
			@include md-up {
				justify-content: flex-end;
			}
		}
	}
}

.list-bullets {
	margin: 0 0 25px;
	list-style: none;
	padding: 0;
	&__item {
		color: $gray-700;
		margin: 0 0 2rem;
		padding-left: 40px;

		@include md-up {
			&:not(:last-child) {
				margin: 0 0 25px;
			}
		}
		@include lg-up {
			.list-bullets--left & {
				padding-left: 0;
				padding-right: 40px;
				text-align: right;
				&:before {
					float: right;
					margin-left: auto;
					margin-right: -40px;
				}
			}
		}

		&:before {
			content: '\e801';
			color: $secondary;
			font-family: econsult-icons;
			font-size: $font-6;
			float: left;
			margin-left: -40px;
		}

	}

	&__header {
		font-weight: 500;
		font-size: $font-5;
		color: $primary;
		margin: 0 0 .5em;
	}
	p {
		margin: 0;
		line-height: 1.2;
	}
}

.teaser-flow {
	@extend %grid;
	@extend %section-margin;

	.grid__item {
		display: flex;
		grid-column: main-start / span 1;
		@include md-only {
			grid-column: span 4;
			&:first-child {
				grid-column: col-start / span 4;
			}
			&:nth-child(4n) {
				grid-column: col-start 1 / span 4;
			}
		}
		@include lg-up {
			grid-column: span 3;
			&:first-child {
				grid-column: col-start / span 3;
			}
			&:nth-child(5n) {
				grid-column: col-start 1 / span 3;
			}
		}
	}
}

.cases-flow {
	padding: 2rem 0;
	grid-column: 1 / -1;
	@extend %grid;
	.grid__item {
		grid-column: main-start / span 1;
		@include sm-down {
			.teaser-card {
				display: grid;
				grid-template: auto auto / 1fr;
				gap: 1rem;
			}
		}
		@include md-up {
			grid-column: col-start 1 / span 12;
			&:nth-child(even) {
				.teaser-card__body {
					grid-column: 1 / span 1;
					grid-row: 1;
				}
				.teaser-card__figure {
					grid-column: 2 / span 1;
					grid-row: 1;
				}
			}
		}
	}
	.teaser-card {
		display: grid;
		grid-template: auto / 1fr 1fr;
		grid-gap: var(--grid-gap);
		&__body {
			display: flex;
			justify-content: center;
		}
		&__header {
			font-size: $font-7;
			@include md-up {
				font-size: $font-10;
			}


			margin: 0 0 1rem;
		}
	}
}

.teaser-card {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	height: 100%;
	position: relative;
	margin-bottom: 2rem;
	&:hover {
		.teaser-card__readmore:after {
			transform: translateX(5px);
		}
	}
	&__overlaylink {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&__figure {
		flex: 0 0 25%;
	}
	&__body {
		padding: 0 0 1rem 0;
		flex: 1 0 75%;
		display: flex;
		flex-direction: column;
		p {
			font-size: $font-4;
			line-height: 1.4;
			margin-bottom: 1rem;
		}
	}
	&__readmore {
		font-weight: 400;
		font-family: $headings-font-family;
		font-size: $font-3;
		&:after {
			display: inline-block;
			height: 11px;
			margin-left: 8px;
			transition: transform .3s ease-in-out;
			width: 17px;
			background: url(../images/arrow.svg) no-repeat;
			content: '';
		}
		&:hover {
			text-decoration: none;
			&:after {
				transform: translateX(4px);
			}
		}
	}
	&__header {
		mark {
			background-color: transparent;
			color: $secondary;
		}
	}
	&__arrow {
		height: 15px;
		width: 23.5px;
	}
}
