.deck-cases {
	margin: 0 auto;
	@extend %grid;
	grid-template: auto auto / 1fr;
	@extend %section-margin;
	min-width: 0;
	min-height: 0;
	@include md-up {
		--grid-gap: 0 1rem;
	}

	&__nav {
		display: flex;
		color: #fff;
		grid-column: main-start / span 1;
		@include md-up {
			grid-column: col-start / span 12;
		}

		&--content {
			padding-left: 1rem;
			height: 4rem;
			display: flex;
			flex: 0 0 100%;
			align-items: center;
			background-color: $primary;
			@include md-up {
				flex: 0 0 50%;
			}
			@include lg-up {
				height: 6rem;
				padding-left: 2rem;
			}
		}
	}

	&__item {
		display: grid !important;
		grid-template: auto auto / 1fr;
		@include md-up {
			grid-template: auto / 1fr 1fr;
		}
	}

	&__left {
		background-color: $primary;
		display: flex;
		align-items: flex-start;
		order: 2;
		grid-row: 1;
	}

	&__right {
		position: relative;
		min-width: 0px;
		min-height: 0;
	}



	&__slider {
		width: 100%;
		outline: 0;
		grid-column: main-start 1 / span 1;
		grid-row: 2;
		display: flex;
		min-height: 0;
		min-width: 0;
		overflow: hidden;
		@include md-up {
			grid-column: col-start 1 / span 12;
		}
	}
	&__content {
		padding: 2rem 1rem 1rem;
		transform: translateY(-20px);
		transition: transform .5s ease .2s, opacity .2s ease;
		opacity: 0;
		position: relative;
		min-height: 0;
		min-width: 0;
		.slick-active & {
			transition-delay: .2s;
			transform: translateY(0);
			opacity: 1;
		}
		@include md-up {
			padding: 4rem 1rem 1rem;
		}
		@include lg-up {
			padding: 4rem 2rem 1rem;
		}
	}

	&__title {
		@extend %deck-title;
		color: #fff;
		mark {
			color: $secondary;
			background-color: transparent;
		}
	}
	&__figure {
		position: relative;
		@include md-up {
			padding-top: 100%;
		}
	}
	&__image {
		@include md-up {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
		}

	}
}

.cases-arrow {
	width: 2rem;
	margin-right: 2rem;
	cursor: pointer;
}
.slick-disabled {
	opacity: .5;
}

.slick-slide {
	outline: 0;
	min-height: 0;
	min-width: 0;
}
.slick-track {
	min-height: 0;
	min-width: 0;
	background-color: $primary;
}

.slick-list {
	min-height: 0;
	min-width: 0;
}

.slider__counter {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	z-index: 1;
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	mix-blend-mode: difference;
	pointer-events: none;
}

.slide-counter {
	display: flex;
	flex: 1 0 auto;
	justify-content: flex-end;
	padding-right: 8%;
}

.slick-container {
	min-width: 0;
	min-height: 0;
	grid-column: main-start 1 / span 1;
	@include md-up {
		grid-column: col-start 1 / span 12;
	}
}
