
@mixin form-control-focus() {
	&:focus {
		color: $body-color;
		outline: 0;
		border-color: rgba($primary, .2);

	}
}

form {
	position: relative;
}
//
// Textual form controls
//



.form-control {
	color: #222;
	background-color: #fff;
	background-clip: padding-box;
	transition: all .2s ease;
	appearance: none;
	padding: .75rem .95rem;
	width: 100%;
	background-image: none;
	display: block;
	position: relative;
	font-size: $font-3;
	line-height: 1.25;
	border: 1px solid transparent;
	border-radius: 2px;

	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	// Customize the `:focus` state to imitate native WebKit styles.
	@include form-control-focus();

	// Placeholder
	&::placeholder {
		color: fade-out($body-color, .4);
		// Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
		opacity: 1;
	}


	&--no-border {
		border-bottom: 0;
	}
	
}


.form-row {
	display: flex;
	margin: 0 -1rem;
	.form-group {
		padding: 0 1rem;
		flex: 0 0 100%;
		margin-bottom: $spacer / 2;
		position: relative;
		@include md-up {
			width: 50%;
			flex: 0 0 50%;
		}
	}
}

.form-group {
	margin-bottom: 10px;
	position: relative;
	flex: 1 0 50%;
	label {
		font-size: $font-1;
		text-transform: uppercase;
		font-weight: 600;
		opacity: .5;
	}

}



.form-col {
	display: flex;
	justify-content: space-between;
}




input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
