%pos-a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.hero-fp {

	width: 100%;
	/*height: var(--vh-offset, 100vh);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	@include md-up {
		height: auto;
	}
	&__curtain {
		@extend %pos-a;
		transform-origin: center 0%;
		background: $primary;
		z-index: 0;
		transform: scaleY(1.1);
	}
	&__inner {
		margin: 0 auto;
		padding: 1rem 0 5rem;
		grid-gap: 2rem;
		@extend %grid;
		@extend %container;
		@include md-up {
			padding: 10rem 0;
			min-height: 800px;
		}

	}
	&__content {
		grid-column: 1 / -1;
		grid-row: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include md-up {
			grid-column: 1 / span 6;
			grid-row: 1;
		}

	}
	&__illu {
		grid-column: 1 / -1;
		grid-row: 1;
		position: relative;
		@include md-up {
			grid-row: 1;
			grid-column: 7 / -1;
		}
	}
	&__logo {
		transform: scale(0);
		position: absolute;
		right: 0;
		top: -1rem;
		width: 20vw;
		display: inline-block;
		@include md-up {
			top: 0;
			width: 7rem;
		}
	}
	&__svg {
		animation: heroFloat 5s ease-in-out infinite forwards;
	}
	&__image {
		border-radius: 50%;
	}
	&__trumpet {
		font-weight: normal;
		color: #fff;
		font-family: $headings-font-family;
		font-size: $font-3;
		margin-bottom: 1rem;
	}
	&__words {
		@extend %font-header;
		color: #fff;
		margin: 0;
		span {
			white-space: nowrap;
			transform-origin: center 100%;
			display: block;
			&:not(:last-child) {
				margin-bottom: .5em;
			}
		}
	}
	&__check {
		width: .75em;
		margin-right: .5rem;
	}
}

@keyframes heroFloat {
	0%, 100% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
}
