.hero-about {
	position: relative;
	background: $sand;
	margin: 7rem 0;

	.grid__item {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__left {
		display: flex;
		align-items: center;
		grid-column: main-start / span 1;
		@include md-up {
			grid-column: col-start 5 / span 7;
			grid-row: 1;
		}
	}

	&__grid {
		@extend %grid;
		padding-top: 1rem;
	}
	&__title {
		@extend %header-lg;
		font-weight: normal;
		margin: 2rem 0;
	}
	&__figure {
		display: flex;
		align-items: flex-end;
		grid-column: main-start / span 1;

		@include md-up {
			grid-row: 1;
			padding-right: 2rem;
			grid-column: col-start 1 / span 4;
		}
	}
}
