$menu-height: 45px;
$menu-height-md: 60px;
.section__hero {
	position: relative;
}
.hero {
	&__figure {
		min-height: 250px;
		position: relative;
		@include md-up {
			min-height: 400px;
		}
	}

	&__image {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
