.hero__title,
.hero-fp__figure,
.home .header__col--logo {
	opacity: 0;
}

.section__hero {
	position: relative;
}
.hero {
	--header-color: #{$primary};
	.dark & {
		--header-color: #fff;
	}

	padding: 0 0 1rem;
	margin-top: 7rem;
	position: relative;
	@include md-up {
		padding: 0 0 4rem;
	}
	@extend %grid;
	&__content {
		display: flex;
		align-items: center;
		grid-column: main-start / main-end;
		
		@include md-up {
			padding: 0;
			grid-column: col-start 1 / span 10;
			height: 600px;
		}
		@include lg-up {
			grid-column: col-start 1 / span 8;
		}
	}
	&__title {
		@extend %header-xl;

	}
	&__figure {
		min-height: 250px;
		position: relative;
		@include md-up {
			min-height: 400px;
		}
	}

	&__image {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.grid--hero-images {
	--grid-gap: 2rem 1rem;
	@extend %grid;
	@include md-up {
		--padding: 0 0 4rem;
		--grid-gap: 2rem;
	}
	.grid__item {
		grid-column: main-start / main-end;
		@include md-up {
			grid-column: span 5;
			&:first-of-type {
				grid-column: col-start 1 / span 7;
			}
		}
	}
}

.scrollObserver {
	position: absolute;
	top: 15rem;
	left: 0;
}