

/* open close SUBMENUS on mobile */
.open > .sub-menu {
	max-height: 999px;
}


.hamburger {
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	margin: 0 0 0 auto;
	overflow: visible;
	outline: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: .25rem;
	z-index: 40;
	position: relative;
	transition: all .2s ease;
	border-radius: 50%;
	appearance: none;
	border: 2px solid var(--color-2, #{$primary});
	@include lg-up {
		display: none;
	}
}

.hamburgersvg {
	position: relative;
	width: 22px;
	height: 22px;
	-webkit-perspective: 800px;
	fill: var(--color-2, #{$primary});
	transform-origin: center center;
	text-align: center;
	transition: fill .2s ease;
	.site-header--transparent & {
		fill: #fff;
	}
	.is-active & {
		fill: #fff;
	}
}




.top-menu {
	display: flex;
	& > li {
		position: relative;
		&:hover {
			.sub-menu {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
		& > a {
			transition: color .2s ease;
			color: var(--color-2, #fff);
			display: inline-block;
			padding: .5rem 1.5rem;
			text-decoration: none;
		}
	}
}


.sub-menu {
	display: flex;
	position: absolute;
	top: 100%;
	left: 0;
	flex-direction: column;
	width: 200px;
	margin: .25rem 0 0 0;
	transform: translateY(2rem);
	transition: all .3s ease;
	opacity: 0;
	visibility: hidden;
	& > li {
		& > a {
			display: block;
			padding: .5rem 1.5rem;
			transition: color .2s ease;
			color: var(--color-2, #{$primary});
		}
	}
}