$padding-mobile: 5%;
.mobile-nav {
	pointer-events: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $primary;
	display: flex;
	flex-direction: column;
	z-index: 100;
	transform: translateX(100%);
	@include lg-up {
		display: none !important;
	}
	&__curtain {
		background: $secondary;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		transform: translateY(-100%);
		@include lg-up {
			display: none;
		}
	}
	&__logo {
		flex: 0 0 15%;
		display: flex;
		align-items: center;
		padding: 0 $padding-mobile;
	}
	&__svg {
		width: 200px;
	}
	&__top {
		padding: 1rem $padding-mobile;
		flex: 1 0 50%;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				font-size: $font-7;
				margin: 0 0 1rem;
			}
			a {
				color: #fff;
				display: block;
				position: relative;
				padding-left: 2.5rem;
				overflow: hidden;
				&:before {
					content: '\e847';
					margin-left: -2rem;
					width: 2rem;
					margin-right: .5rem;
					display: inline-flex;
					align-items: center;
					color: $secondary;
					font-size: $font-7;
					font-family: econsult-icons;
				}
			}
		}

	}
	&__bottom {
		flex: 0 0 15%;
		width: 100%;
		display: flex;
		align-items: center;
		& > div {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 $padding-mobile;
			width: 100%;
		}

		ul {
			list-style: none;
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-around;
		}
		li {
			margin: 0;
			font-size: $font-3 !important;

		}
		a {
			color: #fff;
			opacity: .8;
		}
	}
}

.show-menu {
	overflow: hidden;
}
