.menu {
	.single-article__right & {

		.sub-menu {
			position: relative;
			visibility: visible;
			opacity: 1;
			background: transparent;
			margin: 0;
			padding: 0;
		}
		li,
		a {
			background: transparent;
			
		}
		a {
			color: initial;
			padding: 0;
		}
	}

}
