$menu-height: 45px;
$menu-height-md: 60px;

%tabs-height {
	height: $menu-height;
	display: flex;
	align-items: center;
}

.tabs {
	display: flex;
	flex-direction: column;
	margin-top: calc(-#{$menu-height} - 5rem);
	margin-bottom: 2em;
	font-family: $headings-font-family;
	position: relative;
	z-index: 10;
	@include md-up {
		margin-top: calc(-#{$menu-height-md} - 5rem);
	}
	@include lg-up {
		margin-top: calc(-#{$menu-height-md} - #{$section-margin});
	}
	&__top {
		@extend %tabs-height;
		@include md-up {
			height: $menu-height-md;
		}
	}
	&__bottom {
		background: $primary;
		display: flex;
		align-items: center;
		@include md-up {
			height: $menu-height-md;	
		}


	}
}
%tabs {
	font-size: $font-2;
	font-weight: 600;
	padding: 0 20px;
	position: relative;
	@include lg-up {
		font-size: $font-3;
	}

}
.main-tabs {
	display: flex;
	height: 100%;

	&__item {
		display: flex;
		align-items: center;
		background: linear-gradient(to bottom, #fff 80%, darken(#fff, 15%));
		@extend %tabs;
		
		&.active {
			background: $primary;
		}
		
	}
	&__link {
		color: $primary;
		.active & {
			color: #fff;
		}
	}
}


.tabs-menu {
	display: none;
	height: 100%;
	&.active {
		display: flex;
		flex-direction: column;
		@include md-up {
			flex-direction: row;
			align-items: center;
		}
	}
	& > .menu-item {
		height: 100%;
		@extend %tabs;
		display: block;
		@include md-up {
			display: flex;
			align-items: center;
		}
		& > a {
			color: #fff;
			text-decoration: none;
			padding: 10px 0;
			display: block;
			@include md-up {
				padding: 10px 0;
			}
		}
		&:hover {
			.sub-menu {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}
		&.menu-item-has-children {
			& > a:after {
				@extend %has-children;
				content: '\e84d'; // down
				right: 0;
			}
		}
	}
}